

<div class="container-fluid">
 
<div class="row row1">
<div class="col-lg-11 col-md-10 col-sm-10">
  
    <nav class="navbar navbar-expand-lg bg-white navbar-light justify-content-start">
        
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" >
          <span class="navbar-toggler-icon " data-toggle="collapse" data-target="#collapsibleNavbar"></span>
        </button>
        <img src="assets\images\dribble-logo .png" class="logo justify-content-center" alt="">
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link nav-tabs" href="#">Inspiration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-tabs" href="#">Find Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-tabs" href="#">Learn Design</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-tabs" href="#">Go Pro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-tabs" href="#">Marketplace</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-tabs" href="#">Hire Designers</a>
              </li>

          </ul>
        </div>
      </nav>
</div>

<div class="col-lg-1 col-md-2 col-sm-2">
<span  class="signin">Sign in</span>
</div>

</div>

<div class="row row2">

    <div class="col-lg-5 col-md-6 col-sm-12  ">
        <div class="content-txt">
    <h1 class="h1-text">Playoffs</h1>
<h6 class="h6-txt" >Playoffs are shots with rebounds from multiple<br> players. Join in a playoff by browsing shots below <br>and posting your own rebound shot.</h6>

    </div>
</div>

    <div class="col-lg-7 col-md-6 col-sm-12 text-center justify-content-center">
    <img src="assets\images\playoffs-banner-f5ecbe0eca981b3b04e54c167c1c0ffb5693f41ca4c870aee6b415e4f587f0c5.png" class="content-img justify-content-top" alt="">
  <p class="row2-text">Art by <u>Oleh Harlamov</u></p>
  
  </div>

</div>



  <!-- corousel -->
  <div class="row row4">
<div class="col-lg-4 col-md-5 ">
  <img src="assets\images\card1.png" class="img-1c" alt="">
</div>

    <div id="demo" class="carousel slide col-lg-8 col-md-7 sliders" data-ride="carousel">
   
     <!-- Indicators -->
     <ul class="carousel-indicators">
       <li data-target="#demo" data-slide-to="0" class="active"></li>
       <li data-target="#demo" data-slide-to="1"></li>
       <li data-target="#demo" data-slide-to="2"></li>
     </ul>
   
     <!-- The slideshow -->
     <div class="container">
     <div class="carousel-inner"  style="padding-top: 20px;">
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon p-icon"></span>
      </a>
       <div class="carousel-item active">
        <img src="assets\images\card5.png" class="cr-img">
            <img src="assets\images\card6.png" class="cr-img ">
            
        
       </div>
       <div class="carousel-item">
         
        <img src="assets\images\card1.png" class="cr-img">
        <img src="assets\images\card2.png"class="cr-img ">
       
       </div>
      
       <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon n-icon"></span>
      </a>
     </div>
    </div>
   
   </div>
   </div>
     <!-- corousel -->



    <!-- corousel -->
    <div class="row row4">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <img src="assets\images\card4.png" class="img-1c" alt="">
      </div>
          <div id="demo1" class="carousel slide col-lg-8 col-md-7 col-sm-12 sliders" data-ride="carousel">
         
           <!-- Indicators -->
           <ul class="carousel-indicators">
             <li data-target="#demo" data-slide-to="0" class="active"></li>
             <li data-target="#demo" data-slide-to="1"></li>
             <li data-target="#demo" data-slide-to="2"></li>
           </ul>
         
           <!-- The slideshow -->
           <div class="container">
           <div class="carousel-inner"  style="padding-top: 20px;">
            <a class="carousel-control-prev" href="#demo1" data-slide="prev">
              <span class="carousel-control-prev-icon p-icon"></span>
            </a>
             <div class="carousel-item active">
               
              <img src="assets\images\card3.png" class="cr-img">
              <img src="assets\images\card4.png" class="cr-img">
              
              
             </div>
             <div class="carousel-item">
               
              <img src="assets\images\card5.png" class="cr-img">
              <img src="assets\images\card6.png" class="cr-img">
              
             </div>
            
             <a class="carousel-control-next" href="#demo1" data-slide="next">
              <span class="carousel-control-next-icon n-icon"></span>
            </a>
           </div>
          </div>
         </div>
         </div>
           <!-- corousel -->
    
<!-- corousel -->
<div class="row row4">
  <div class="col-lg-4 col-md-5">
    <img src="assets\images\card3.png" class="img-1c" alt="">
  </div>
  
      <div id="demo" class="carousel slide col-lg-8 col-md-7 sliders" data-ride="carousel">
     
       <!-- Indicators -->
       <ul class="carousel-indicators">
         <li data-target="#demo" data-slide-to="0" class="active"></li>
         <li data-target="#demo" data-slide-to="1"></li>
         <li data-target="#demo" data-slide-to="2"></li>
       </ul>
     
       <!-- The slideshow -->
       <div class="container">
       <div class="carousel-inner"  style="padding-top: 20px;">
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon p-icon"></span>
        </a>
         <div class="carousel-item active">
          
              <img src="assets\images\card7.png" class="cr-img">
              <img src="assets\images\card8.png" class="cr-img">
          
         </div>
         <div class="carousel-item">
           
         
          <img src="assets\images\card3.png" class="cr-img">
          <img src="assets\images\card4.png" class="cr-img">
         </div>
        
         <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon n-icon"></span>
        </a>
       </div>
      </div>
     
     </div>
     </div>
       <!-- corousel -->
  
  
  
    <!-- corousel -->
    <div class="row row4">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <img src="assets\images\card4.png" class="img-1c" alt="">
      </div>
          <div id="demo1" class="carousel slide col-lg-8 col-md-7 col-sm-12 sliders" data-ride="carousel">
         
           <!-- Indicators -->
           <ul class="carousel-indicators">
             <li data-target="#demo" data-slide-to="0" class="active"></li>
             <li data-target="#demo" data-slide-to="1"></li>
             <li data-target="#demo" data-slide-to="2"></li>
           </ul>
         
           <!-- The slideshow -->
           <div class="container">
           <div class="carousel-inner"  style="padding-top: 20px;">
            <a class="carousel-control-prev" href="#demo1" data-slide="prev">
              <span class="carousel-control-prev-icon p-icon"></span>
            </a>
             <div class="carousel-item active">
              <img src="assets\images\card1.png" class="cr-img">
              <img src="assets\images\card2.png"class="cr-img">  
           
              
             </div>
             <div class="carousel-item">
               
              <img src="assets\images\card5.png" class="cr-img">
              <img src="assets\images\card6.png" class="cr-img">
             
             </div>
            
             <a class="carousel-control-next" href="#demo1" data-slide="next">
              <span class="carousel-control-next-icon n-icon"></span>
            </a>
           </div>
          </div>
         </div>
         </div>
           <!-- corousel -->

        

  <!-- corousel -->
  <div class="row row4">
    <div class="col-lg-4 col-md-5">
      <img src="assets\images\card1.png" class="img-1c" alt="">
    </div>
    
        <div id="demo" class="carousel slide col-lg-8 col-md-7 sliders" data-ride="carousel">
       
         <!-- Indicators -->
         <ul class="carousel-indicators">
           <li data-target="#demo" data-slide-to="0" class="active"></li>
           <li data-target="#demo" data-slide-to="1"></li>
           <li data-target="#demo" data-slide-to="2"></li>
         </ul>
       
         <!-- The slideshow -->
         <div class="container">
         <div class="carousel-inner"  style="padding-top: 20px;">
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon p-icon"></span>
          </a>
           <div class="carousel-item active">
            <img src="assets\images\card5.png" class="cr-img">
                <img src="assets\images\card6.png" class="cr-img ">
                
            
           </div>
           <div class="carousel-item">
             
            <img src="assets\images\card1.png" class="cr-img">
            <img src="assets\images\card2.png"class="cr-img ">
           
           </div>
          
           <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon n-icon"></span>
          </a>
         </div>
        </div>
       
       </div>
       </div>
         <!-- corousel -->
    
    
    
        <!-- corousel -->
        <div class="row row4">
          <div class="col-lg-4 col-md-5 col-sm-12">
            <img src="assets\images\card4.png" class="img-1c" alt="">
          </div>
              <div id="demo1" class="carousel slide col-lg-8 col-md-7 col-sm-12 sliders" data-ride="carousel">
             
               <!-- Indicators -->
               <ul class="carousel-indicators">
                 <li data-target="#demo" data-slide-to="0" class="active"></li>
                 <li data-target="#demo" data-slide-to="1"></li>
                 <li data-target="#demo" data-slide-to="2"></li>
               </ul>
             
               <!-- The slideshow -->
               <div class="container">
               <div class="carousel-inner"  style="padding-top: 20px;">
                <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                  <span class="carousel-control-prev-icon p-icon"></span>
                </a>
                 <div class="carousel-item active">
                   
                  <img src="assets\images\card3.png" class="cr-img">
                  <img src="assets\images\card4.png" class="cr-img">
                  
                  
                 </div>
                 <div class="carousel-item">
                   
                  <img src="assets\images\card5.png" class="cr-img">
                  <img src="assets\images\card6.png" class="cr-img">
                  
                 </div>
                
                 <a class="carousel-control-next" href="#demo1" data-slide="next">
                  <span class="carousel-control-next-icon n-icon"></span>
                </a>
               </div>
              </div>
             </div>
             </div>
               <!-- corousel -->
        
    <!-- corousel -->
    <div class="row row4">
      <div class="col-lg-4 col-md-5">
        <img src="assets\images\card3.png" class="img-1c" alt="">
      </div>
      
          <div id="demo" class="carousel slide col-lg-8 col-md-7 sliders" data-ride="carousel">
         
           <!-- Indicators -->
           <ul class="carousel-indicators">
             <li data-target="#demo" data-slide-to="0" class="active"></li>
             <li data-target="#demo" data-slide-to="1"></li>
             <li data-target="#demo" data-slide-to="2"></li>
           </ul>
         
           <!-- The slideshow -->
           <div class="container">
           <div class="carousel-inner"  style="padding-top: 20px;">
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon p-icon"></span>
            </a>
             <div class="carousel-item active">
              
                  <img src="assets\images\card7.png" class="cr-img">
                  <img src="assets\images\card8.png" class="cr-img">
              
             </div>
             <div class="carousel-item">
               
             
              <img src="assets\images\card3.png" class="cr-img">
              <img src="assets\images\card4.png" class="cr-img">
             </div>
            
             <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon n-icon"></span>
            </a>
           </div>
          </div>
         
         </div>
         </div>
           <!-- corousel -->
      
      
      
        <!-- corousel -->
        <div class="row row4">
          <div class="col-lg-4 col-md-5 col-sm-12">
            <img src="assets\images\card4.png" class="img-1c" alt="">
          </div>
              <div id="demo1" class="carousel slide col-lg-8 col-md-7 col-sm-12 sliders" data-ride="carousel">
             
               <!-- Indicators -->
               <ul class="carousel-indicators">
                 <li data-target="#demo" data-slide-to="0" class="active"></li>
                 <li data-target="#demo" data-slide-to="1"></li>
                 <li data-target="#demo" data-slide-to="2"></li>
               </ul>
             
               <!-- The slideshow -->
               <div class="container">
               <div class="carousel-inner"  style="padding-top: 20px;">
                <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                  <span class="carousel-control-prev-icon p-icon"></span>
                </a>
                 <div class="carousel-item active">
                  <img src="assets\images\card1.png" class="cr-img">
                  <img src="assets\images\card2.png"class="cr-img">  
               
                  
                 </div>
                 <div class="carousel-item">
                   
                  <img src="assets\images\card5.png" class="cr-img">
                  <img src="assets\images\card6.png" class="cr-img">
                 
                 </div>
                
                 <a class="carousel-control-next" href="#demo1" data-slide="next">
                  <span class="carousel-control-next-icon n-icon"></span>
                </a>
               </div>
              </div>
             </div>
             </div>
               <!-- corousel -->
<div class="row row5">

  <div class="col-lg-5 col-md-4 col-sm-4"></div>
  <div class="col-lg-4 col-md-8 col-sm-8">
    <p>You’ve reached the end of the list
    </p>
  </div>
  
  <div class="col-lg-4 "></div>
</div>

<!-- </div> -->
<!-- <div class="container">  -->
<div class="row footer" >
 <div class="col-lg-2 col-md-12 col-sm-12 fmargin"  style="margin-bottom: 20px;">
    <img src="dribble-pink-logo.png" alt="" class="logo-footer">
    <p class="f-text ">Dribbble is the world’s leading<br> community for creatives to share, grow,<br> and get hired.</p>
    <img src="dribble-browser.png" alt="" class="social-logos">
    <img src="dribble-twitter.png" alt="" class="social-logos">
    <img src="dribble-fb.png" alt="" class="social-logos">
    <img src="dribble-insta.png" alt="" class="social-logos">
    <img src="dribble-pintrest.png" alt="" class="social-logos">
  </div>
 
  <div class="col-lg-2 col-md-3 col-sm-6 fmargin" >
    <p class="f-text"><b style="color: #000;">For designers</b></p>
    <p class="f-text">    Go Pro! </p>
    <p class="f-text">   Explore design work</p>
    <p class="f-text">    Design blog </p>
    <p class="f-text">    Overtime podcast  </p>
    <p class="f-text">       Dribbble meetups  </p>
    <p class="f-text">   Playoffs </p>
    <p class="f-text">    Code of conduct   </p>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 fmargin" > 
     <p class="f-text"><b style="color: #000;">Hire designers</b></p>
    <p class="f-text">   Post a job opening </p>
    <p class="f-text">    Post a freelance project</p>
    <p class="f-text">      Search for designers </p>
    <p class="f-text"> <b style="color: #000;">   Brands </b> </p>
    <p class="f-text">       Advertise with us </p>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 fmargin" >
    
    <p class="f-text"><b style="color: #000;">Company </b></p>
    <p class="f-text">    About</p>
    <p class="f-text">       Careers</p>
    <p class="f-text">  Support </p>
    <p class="f-text">Media kit</p>
    <p class="f-text">Testimonials </p>
    <p class="f-text"> API</p>
    <p class="f-text">Terms of service </p>
    <p class="f-text">Privacy policy </p>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-6 fmargin" >
    <p class="f-text"><b style="color: #000;">Directories</b></p>
      <p class="f-text">  Design jobs </p>
      <p class="f-text">    Designers for hire </p>
      <p class="f-text">    Freelance designers for hire </p>
    <p class="f-text">       Tags</p>
    <p class="f-text">       Places </p>
    <p class="f-text"> <b style="color: #000;">   Design assets</b> </p>
    <p class="f-text">          Shop Creative Market</p>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 fmargin" >
    <p class="f-text"><b style="color: #000;">Design Resources</b></p>
    <p class="f-text"> Freelancing</p>
    <p class="f-text">   Design Hiring</p>
    <p class="f-text">  Design Portfolio </p>
    <p class="f-text">Design Industry Trends </p>
   
  </div>
  
 
<!-- </div> -->

</div>
<div class="hr">
  <hr class="justify-content-center">
</div>
<div class="row footer-2">
  <div class="col-lg-1 col-md-5 col-sm-4"></div>

  <div class="col-lg-4 col-md-7 col-sm-8 copyright" style="margin-left: -30px;">© 2021 Dribbble. All rights reserved.</div>
  <div class="col-lg-5 col-md-5 col-sm-4"></div>
  <div class="col-lg-4 col-md-7 col-sm-8 copyright"><b style="color: #000;">17,115,658 </b>shots dribbbled
    <img src="dribble-ball-icon.png" alt="" class="ball-icon">
    </div>
</div>



</div>
 
<router-outlet></router-outlet>
